site_name: Stream.of(consciousness)
site_url: https://sed-i.github.io/

remote_name: origin
remote_branch: gh-pages

nav:
  - Blog:
    - Home: index.md
    - 'Nushell tutorial': 'blog/nushell-tutorial.md'
    - 'Simple bird house': 'blog/simple-bird-house.md'
    - 'Simple diy desk': 'blog/simple-diy-desk.md'
    - 'Degoogled android phone': 'blog/degoogle.md'
    - 'eBPF summit 2023 CTF': 'blog/ebpf-summit-2023-ctf.md'
    - Sodastream: 'blog/sodastream.md'
    - '5 stars': 'blog/five-star-rank.md'
  - 'Bookmarks':
    - Bookmarks: 'reading-list/bookmarks.md'
    - 'Wishlist': 'reading-list/wishlist.md'
    - 'Privacy': 'reading-list/privacy.md'
    - 'Get up to speed': 'reading-list/get-up-to-speed.md'
    - Culture: 'reading-list/culture.md'
    - Process: 'reading-list/process.md'
    - 'Comic relief': 'reading-list/comic-relief.md'
  - Software:
    - 'Zen-collage': 'software/zen.md'
    - Cheatsheet:
      - "*craft": 'software/cheatsheet/starcraft.md'
      - 'Python multiprocessing': 'software/cheatsheet/python-multiprocessing.md'
      - 'Conventional X': 'software/cheatsheet/conventional.md'
      - 'Remote host': 'software/cheatsheet/remote-host.md'
      - 'SSH': 'software/cheatsheet/ssh.md'
      - 'Exif tool': 'software/cheatsheet/exiftool.md'
      - jq: 'software/cheatsheet/jq.md'
      - text: 'software/cheatsheet/text.md'
      - ps: 'software/cheatsheet/ps.md'
      - strace: 'software/cheatsheet/strace.md'

terminal-theme: &terminal-theme
  name: terminal
  palette: gruvbox_dark

material-theme: &material-theme
  name: material
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.expand

#theme: *terminal-theme
theme: *material-theme

plugins:
  - search

markdown_extensions:
  - tables
  - footnotes
  - toc:
      permalink: "#"
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
